{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'Jaxx_products_home/css/Jaxx-products-home-styles.css' %}">
{% endblock %}
{% load static %}

{% block content %}
<section id=""  style="">    
    <div class="slantedDivA page-top-container text-center" >
        <div class="col-sm-6 col-md-6 col-lg-6 mx-auto my-auto search-box mt-5 text-dark">
            <h3 class="">
               Jacxx Productions launch Ecomeerce and video subsctiption site.
            </h3>
            <p>Proudly presents our family bussiness Jaxx Productions</p>
        </div>
    </div>
    <div class="slantedDivB page-top-container">
        <div class="col-sm-6 col-md-6 col-lg-6  me-0 search-box mt-5 text-light">
            <h3 class="">
               Jacxx Productions launch Ecomeerce and video subsctiption site.
            </h3>
            <p>Proudly presents our family bussiness Jaxx Productions</p>
           
        </div>
    </div>
    
</section>




   
{% endblock %}