
body, html{
   background-color: #2e2e2e;
     }
.container-top{
    position: relative;
    top: 130px !important;
}

.a-for-video-pages-links{
    color: #000 !important;
    text-decoration: none;
    background-color: none; 
    color: rgb(0, 0, 0)!important; width: 100%; 
    font-weight: 900; 
    font-family: 'Ribeye Marrow', cursive;
}
.mobile-card-background-a-links{   
    border: 5px solid rgb(199, 20, 20); 
    border-radius: 60px 45px 30px 15px/15px 30px 45px 60px;
    background: #f5be0d!important;
}
 .a-for-video-pages-links:hover {
    transform: scale(1.1);
    background: none;
}

.header{
    position: relative;
    top:0px;
    left: 50%;
    width: 100%;
    height: 6rem;
    opacity: 0;
}

.header1{
   
    width: 100%;
    opacity: 0;
}

.logo{
    position: absolute;
    bottom: 0;
    left: 18%;
}

.nav-look{
    position: absolute;
    right: 25%;
    bottom: 0px;
    display: flex;
    width: 50%;
    border: 5px solid rgb(199, 20, 20); 
    border-radius: 60px 45px 30px 15px/15px 30px 45px 60px;
    background: #f5be0d!important;
    
}

.home-left{
    background-image: url('/media/bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;  
    position: relative;
    left: -55%;
    width: 65%;
    height: 100vh;
    background-color: #fff;
    animation: slide-perm 2s forwards;
}
.video-container{
    position: absolute;
    left: 36%;
    top: 18%;
    width: 60%;
    height: 550px;
    overflow: hidden;
    z-index: 2;
    overflow: hidden;
    
}

.video-container iframe{
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    /*filter: grayscale(10%);*/
    border: 5px black solid;
}

.overlay{
    position: absolute;
    z-index: 4;
    top: 0px;
    left: -100%;
    width: 100%;
    height: 600px;
    
    opacity: 1;
}
.left-container{
    position: absolute;
    z-index: 5;
    width: 100%;
    background-color: transparent;
    bottom: 12%;
    left: 43%;
    height: 17%;
    padding-left: 18%;
    padding-top: 1rem;
}
.cta{
    position: relative;
    top: 20px;
    margin-top: -0.5rem;
    left: 28%;
    padding: 1px;
    width: 18rem;
    text-align: center;
    background-color: #f5be0d!important;
    color: #000;
    opacity: 0;
    font-weight: 900;
    border: 5px solid rgb(199, 20, 20);
    border-radius: 60px 45px 30px 15px/15px 30px 45px 60px;
    
}
.site{
    position: relative;
    top: 20px;
    opacity: 0;
    left: 32%;
}
.socials{
    position: absolute;
    left: 15%;
    top: 30%;
    height: 15%;
    color: white;
}

.socials ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
}

.link{
    position: relative;
    top: 20px;
    opacity: 0;
}
.socials ul li:hover{
    opacity: 0.6;
    cursor: pointer;
}
.active{
    position: relative;
    top: 0;
    opacity: 1;
    transition: 0.5s;
}
.active2{
    position: relative;
    top: -398%;
    opacity: 1;
    transition: 0.5s;
}
.active3{
    position: relative;
    top: -30%;
    opacity: 1;
    transition: 0.5s;
}


@keyframes slide{
    0%{
        left: -100%;
    }
    25%{
        left: -100%;
    }
    75%{
        left: 0;
    }
    100%{
        left: 100%;
    }
}

@keyframes slide-perm{
    0%{
        left: -100%;
    }
    25%{
        left: -100%;
    }
    75%{
        left: 0;
    }
    100%{
        left: 0%;
    }
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    

    
}

/* General mobile sizes */
  @media (max-width: 767px){
      body, html{
        background-image: url('/media/bg.jpg');
     }
    .logo{
            position: sticky !important;
            bottom: 0;
            left: 18%;
    }
     .home-left{
         top: 6%;
     }
        .video-container {
            left: 7%;
            top: 16%;
            width: 86%;
            height: 228px;
        }
        .header{
            left: 41%;  
        }
        .socials {   
            top: 41%;  
            left: 36%;  
            }
        .home-left {
            background: transparent;
           
        }
        .cta{
            left: -54%;
        }
        .active3{
            top: -150%;
        }
     .site{
        
    }
  }
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

     

}
/* Ipads and tablets */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

    .video-container {

    left: 29%;
    top: 29%;
    width: 66%;
    height: 416px;
   
}
.left-container {
    bottom: 2%;
    left: 42%;    
}
.nav-look {
      right: 25%;
    bottom: -24px;
    width: 100%;
}
   .active3{
       top: -159%;
   }
   .socials{
       left: 36px;
       top: 41%;
   }

}