@import url('https://fonts.googleapis.com/css2?family=Abel&family=Lato:wght@300&display=swap');

/* I am going to set serious variables here so later if changes are required we can centrally make all changes */
:root {
    --web-primary-bg-color-theme:#0a354e !important;
    --primary-font-color:#ffffff !important;
    --primary-font-family:'Lato';
    --secondary-font-family:'Abel';
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--primary-font-family);
}
/*  #############################################################
                        Stand Alone Classes
    ##############################################################
 */ 
.page-top-container{
    padding-top: 164px!important;
}
.f-weight-900{
    font-weight: 900;
}
.primary-font-color{
    color: var(--primary-font-color);
    text-decoration: none;
}
 .primary-background-color{
     background: var(--web-primary-bg-color-theme);   
 }
 .navbar-image-icons{
    width: 32px; height: 32px; aspect-ratio: auto 32 / 32; border-radius: 50%;
 }
/*  #############################################################
            Header Section All NAVBAR CSS Classes are here 
    ##############################################################
 */ 

nav{
    background: #dc3545;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
nav .mainMenu{
    display: flex;
    list-style: none;
}
nav .mainMenu li a{
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;
}

nav .mainMenu li a:hover{
    background: rgb(0, 0, 0);

}
nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}
nav .v-logo{
        font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}

nav .mainMenu .closeMenu, .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

.fa-facebook:hover{
    color: rgb(0, 110, 255);
}
.fa-instagram:hover{
    color: rgb(86, 154, 243);
}
.fa-youtube-square:hover{
    color: rgb(255, 0, 191);
}
.fa-github:hover{
    color: rgb(255, 123, 0);
}

nav .logo {
    margin: 6px;
    font-size: 25px;
    cursor: pointer
}

@media(max-width: 800px){
    nav .mainMenu{
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        background: #000;
        transition: top 1s ease;
        display: none;

    }
    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;

    }
    nav .openMenu{
        display: block;
    }
    nav .v-logo{
        display: inline-block;
    }
    nav .mainMenu li a:hover{
        background: none;
        color: rgb(255, 123, 0);
        font-size: 1.6rem;
    }
    .icons i{
        display: inline-block;
        padding: 12px;
    }
}
#navbarSupportedContent > ul > li > ul > a:nth-child{
    color: black;
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    

}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    

    
}