<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto fs-5" style="margin-right: 1px !important;">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-4 primary-font-color" href="{% url 'homepage' %}">
                Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link primary-font-color" href="{% url 'videos_home' %}" tabindex="-1" aria-disabled="true">Jacxx Videos</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link primary-font-color" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Other Products
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item text-dark">All Products</a>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link primary-font-color" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Cothing
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for item in clothing_categories %}
                    
                    <a href="" class="dropdown-item">
                        <img class="img-thoumbnail" src="{{ item.image.url }}" style="width: 32px; height: 32px; aspect-ratio: auto 32 / 32; border-radius: 50%;">
                        {{ item.name }}
                    </a>                 
                {% endfor %}
                     <a href="" class="dropdown-item"><i class="fas fa-plus"> </i> Add new Category</a>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link primary-font-color" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Homeware
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for item in homeware_categories %}
                    <a href="" class="dropdown-item">
                        <img class="img-thoumbnail" src="{{ item.image.url }}" style="width: 32px; height: 32px; aspect-ratio: auto 32 / 32; border-radius: 50%;">
                        {{ item.name }}
                    </a>
                {% endfor %}
                    <a href="" class="dropdown-item"><i class="fas fa-plus"> </i> Add new Category</a>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link primary-font-color" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Discount Offers
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a href="" class="dropdown-item">30% Off Product for Girls</a>
                <a href="" class="dropdown-item">30% Off Product for Boys</a>
                <a href="" class="dropdown-item">30% Off Product for Women</a>
                <a href="" class="dropdown-item">30% Off Product for Men</a>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link primary-font-color" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                New Arrivals
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a href="" class="dropdown-item">Ladies Tops</a>
                <a href="" class="dropdown-item">Damage Jeans and Trousers</a>
                <a href="" class="dropdown-item">Shirts</a>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link primary-font-color" href="#" tabindex="-1" aria-disabled="true">Contact Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link primary-font-color" href="#" tabindex="-1" aria-disabled="true">About Us</a>
        </li>
    </ul>
</div>