{% load static %}
<!doctype html>
<html lang="en">
  <head>
      
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}
    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% endblock %}
    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
   
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/60ca92335a.js" crossorigin="anonymous"></script>
        <!-- Bootstrap 4.6 JavaScript CDNS I have added then so I can use old mobile navbar classes -->
        
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
         crossorigin="anonymous"></script>
       
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
        
    {% endblock %}
    
    {% block extra_js %}
    {% endblock %} 
    <title>Jaxx {% block extra_title %}{% endblock %}</title>
    <!--Later I can load JAxx log here -->
    <link rel="shortcut icon" href="https://jacxx-productions.s3.eu-west-2.amazonaws.com/media/jaxx-logo.jpg">
   <style>
       *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Arial', sans-serif;
}

   </style>
  </head>
  <body>
      <!---->
    <section id="header-section"> 
        <header class="fixed-top">
            <div class="row p-0 m-0">
                <div id="topnav" class="row bg-white p-0 m-0 d-none d-sm-none d-md-none d-lg-block">
                    <div class="col-12 col-lg-12 my-auto text-center p-0">
                        <a href="{% url 'videos_home' %}" class="nav-link main-logo-link">
                            <img src="https://jacxx-productions.s3.eu-west-2.amazonaws.com/media/jaxx-logo.jpg" alt="" style="border-radius: 50%; height: 50px;">
                        </a>
                    </div>
                </div>
                <nav class="">                    
                <div class="openMenu">
                    <i class= "fa fa-bars"></i>        
                </div>
                <div class="openMenu">
                    <a class="text-white" href="{% url 'videos_home' %}" style="text-decoration: none;">Jaxx Videos</a>
                </div>
                
                <ul class="mainMenu mb-0 p-0">
                    <li><a href="{% url 'videos_home' %}">Jaxx Videos</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        More Videos
                        </a>
                        
                        <ul class="dropdown-menu ul-dropdown" aria-labelledby="navbarDropdown">
                        {% for category in video_categories %}
                            <a href="{% url 'all_videos' %}?category={{category.video_category}}" class="dropdown-item">
                                <img class="img-thumbnail navbar-image-icons" src="{{ category.image.url }}">
                                {{ category.video_category }}
                            </a>
                        {% endfor %}
                            <a href="{% url 'all_videos' %}" class="dropdown-item">
                                <img class="img-thumbnail navbar-image-icons mb-1" src="https://jacxx-productions.s3.eu-west-2.amazonaws.com/media/all_out-black-18dp.svg">
                                All Videos</a>
                            <a href="" class="dropdown-item"><i class="fas fa-plus"> </i> Add new Category</a>
                    </ul>
                    </li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">About</a></li>
                    
                    <div class="closeMenu">
                        <i class="fa fa-times"></i>
                    </div>
                    <span class="icons">
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-youtube-square"></i>
                
                    </span>
                </ul>
                </nav>
            </div>
        </header>
    </section>
    
    <div class="container">
       
    </div>
    {% if messages %}
        <div class="message-container"></div>
    {% endif %}
    {% block page_header %}
    {% endblock %}
    
    {% block content %}
    {% endblock %}
   
    {% block postloadjs %}
    {% endblock %}
    <script>
        const mainMenu = document.querySelector('.mainMenu');
const closeMenu = document.querySelector('.closeMenu');
const openMenu = document.querySelector('.openMenu');

openMenu.addEventListener('click', show)
closeMenu.addEventListener('click', close)

function show (){
    mainMenu.style.display = 'flex';
    mainMenu.style.top = '0';
}

function close(){
    mainMenu.style.top = '-100%'
}
    </script>
  </body>
</html>