{% extends "base.html" %}
{% block extra_meta %}
   
{% endblock %}
{% block extra_title %} - V I D E O S{% endblock %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'videos/css/videos.css' %}">
  
{% endblock %}
{% block extra_js %}

{% endblock %} 
{% load static %}
{% block content %}
    <div class="container" style="margin-top: 200px;">
        <h1>Videos Page</h1>
        <div class="row">
            <div class="col-sm-12 mx-auto mt-5 text-center">
               
            </div>
        </div>
    </div>
{% endblock %}