{% extends "base.html" %}

{% load embed_video_tags %}

{% block extra_meta %}
   
{% endblock %}
{% block extra_title %} - V I D E O S{% endblock %}
{% load static %}
{% block extra_css %}
    <link href='//fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'videos/css/videos.css' %}">
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Ribeye+Marrow&display=swap');
    </style>
{% endblock %}
{% block extra_js %}
<script type="text/javascript" src="{% static 'videos/js/app.js' %}" ></script>
{% endblock %} 
{% load static %}
{% block content %}
<div class="container-fluid container-top text-white p-0 m-0">
    <div class="row p-0 m-0">
        <div class="col-sm-12 p-0 m-0">
            <div class="home-left">
               <div class="col-sm-12">
                    <header class="header">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="logo p-1 text-center" style="background-color: rgba(0, 0, 0, 0.1); color: rgb(243, 239, 8);">
                                    <p class="d-md-none">Similar Videos: {{ my_video.video_category }}</p>
                                    <h2>{{ my_video.video_name}}</h2>
                                    <small class="d-md-none">{{ my_video.video_description }}</small>

                                </div>
                                <div class="col-sm-12">
                                    <div class="nav-look d-none d-sm-none d-md-block " style="border: 5px solid rgb(199, 20, 20); border-radius: 60px 45px 30px 15px/15px 30px 45px 60px;
                                        background: rgb(243, 239, 8)!important;">
                                        <a class="a d-none d-sm-none d-md-block text-center btn btn-sm fs-3" href="#" 
                                            style="background-color: rgba(243, 239, 8, 0.1); color: rgb(0, 0, 0)!important; width: 100%; font-weight: 900; font-family: 'Ribeye Marrow', cursive;">
                                                Similar Videos{{ my_video.video_category }}</a>
                                        <a class="a" href="#"></a>
                                    </div> 
                                </div>
                            </div>
                        </div>                   
                    </header>
                </div>
                <div class="col-sm-12">
                    <div class="left-container text-center" >
                        <p class="site fs-4 text-center d-none d-sm-none d-md-block" style="background-color: rgba(243, 239, 8, 0.6); color: rgb(0, 20, 0); max-width: 90%; font-weight: 900;">
                            {{ my_video.video_description }}</p>
                        <div class="cta text-center">
                            <a class="btn fs-4" href=""  style="font-weight: 900; font-family: 'Ribeye Marrow', cursive;">MORE VIDEOS</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="video-container" style="">
                <div class="overlay" style="background-image: url('{{ my_video.video_image_thumbnail.url  }}'); background-position: center;
                        background-size: 100% 100%;
                        background-repeat: no-repeat;"></div>
                <iframe width="1040" height="100%" src="{{ my_video.video_URL}}" 
                        frameborder="0" 
                        allow="accelerometer; 
                        autoplay; 
                        clipboard-write; 
                        encrypted-media; 
                        gyroscope; 
                        picture-in-picture" allowfullscreen></iframe>
            </div>

            <div class="socials">
                <ul>
                    <li class="link fs-3"  style="background-color: rgba(8, 12, 243, 0.1); color: rgb(243, 239, 8)!important; width: 100%; font-weight: 900;">Facebook</li>
                    <li class="link fs-3"  style="background-color: rgba(8, 12, 243, 0.1); color: rgb(243, 239, 8)!important; width: 100%; font-weight: 900;">YouTube</li>
                    <li class="link fs-3"  style="background-color: rgba(8, 12, 243, 0.1); color: rgb(243, 239, 8)!important; width: 100%; font-weight: 900;">Instagram</li>
                </ul>
            </div>

        </div>            
    </div>   
</div>

<script>
    let header = document.querySelector('.header');
    let site = document.querySelector('.site');
    let cta = document.querySelector('.cta');

let imageOverlay = document.querySelector('.video-container').children[0];
let mainImage = document.querySelector('.video-container').children[1];


let links = Array.from(document.querySelectorAll('.link'));

function animate(){
    setTimeout (()=>{
        header.classList.add('active');
        imageOverlay.style.animation = 'slide 5s forwards';
        mainImage.style.animation = 'slide-perm 6s forwards';
    }, 2000);

    setTimeout (()=>{
        site.classList.add('active2');
        cta.classList.add('active3');
    }, 3000);
    
    links.forEach((link, idx)=>{
        setTimeout(()=>{
            link.classList.add('active');
        },(idx * 200) +2500)
    })
}

animate()

</script>
{% endblock %}